.t3-mainnav {
  background: none;
}
.t3-mainnav .navbar {
  color: #ff009a;
  margin-bottom: 0;
  margin-top: 0;
}
.t3-mainnav .navbar-inner {
  padding: 0;
  background: transparent;
  border: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.t3-mainnav .navbar .nav {
  margin: 0;
}
.t3-mainnav .navbar .nav > li {
  margin: 0 60px 0 0;
}
.t3-mainnav .navbar .nav > li:last-child {
  margin: 0px;
}
.t3-mainnav .navbar .nav > li > a {
  border-top: 0;
  text-shadow: none;
  font-size: 48px;
  line-height: 50px;
  height: 50px;
  text-transform: lowercase;
  padding: 0px 0px 31px 0px;
  font-weight: 200;
  letter-spacing: -0.06em;
}
.t3-mainnav .navbar .nav li.dropdown > .dropdown-toggle .caret {
  display: none;
}
.t3-mainnav .navbar .nav > li > a:focus,
.t3-mainnav .navbar .nav > li > a:hover {
  background-color: transparent;
  text-shadow: none;
  outline: none;
  background: url(../../templates/t3_blank/images/nav-hover.png) no-repeat center bottom;
}
.t3-mainnav .navbar .nav > .active > a,
.t3-mainnav .navbar .nav > .active > a:hover,
.t3-mainnav .navbar .nav > .active > a:focus {
  color: #ab0569;
  text-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: none;
  background: url(../../templates/t3_blank/images/nav-active.png) no-repeat center bottom;
}
.t3-mainnav .navbar .btn-navbar {
  float: left;
  padding: 5px 10px;
  margin: 5px 20px 0;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  background-color: #e8e8e8;
  background-image: -moz-linear-gradient(top,#f2f2f2,#d9d9d9);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#f2f2f2),to(#d9d9d9));
  background-image: -webkit-linear-gradient(top,#f2f2f2,#d9d9d9);
  background-image: -o-linear-gradient(top,#f2f2f2,#d9d9d9);
  background-image: linear-gradient(to bottom,#f2f2f2,#d9d9d9);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff2f2f2', endColorstr='#ffd8d8d8', GradientType=0);
  border-color: #d9d9d9 #d9d9d9 #b3b3b3;
  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
  *background-color: #d9d9d9;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 0 rgba(255,255,255,.075);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 0 rgba(255,255,255,.075);
  box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 0 rgba(255,255,255,.075);
}
.t3-mainnav .navbar .btn-navbar:hover,
.t3-mainnav .navbar .btn-navbar:focus,
.t3-mainnav .navbar .btn-navbar:active,
.t3-mainnav .navbar .btn-navbar.active,
.t3-mainnav .navbar .btn-navbar.disabled,
.t3-mainnav .navbar .btn-navbar[disabled] {
  color: #fff;
  background-color: #d9d9d9;
  *background-color: #cccccc;
}
.t3-mainnav .navbar .btn-navbar:active,
.t3-mainnav .navbar .btn-navbar.active {
  background-color: #bfbfbf \9;
}
.t3-mainnav .navbar .btn-navbar [class^="icon-"],
.t3-mainnav .navbar .btn-navbar [class^=" icon-"] {
  color: #ff009a;
  text-shadow: none;
}
.t3-mainnav .dropdown .caret {
  margin-left: 5px;
}
.t3-mainnav .dropdown-menu {
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  background: #a8d04c;
  border: none;
}
.t3-mainnav .dropdown-menu .mega-inner {
  padding: 0px !important;
}
.t3-mainnav .dropdown-menu li > a {
  padding: 5px 20px;
  text-shadow: none;
  text-transform: lowercase;
  font-size: 24px;
  line-height: 1.2em;
  color: #fff;
  font-weight: 300;
}
.t3-mainnav .dropdown-menu li:first-child > a {
  border-top: 0;
}
.t3-mainnav .navbar .nav > li > .dropdown-menu:before {
  display: none;
}
.t3-mainnav .navbar .nav > li > .dropdown-menu:after {
  display: none;
}
.t3-mainnav .dropdown-menu li > a:hover,
.t3-mainnav .dropdown-menu li > a:focus,
.t3-mainnav .dropdown-submenu:hover > a {
  color: #759035;
  background: transparent;
}
.t3-mainnav .dropdown-menu .active > a,
.t3-mainnav .dropdown-menu .active > a:hover {
  color: #1a1a1a;
  background: transparent;
}
.t3-mainnav .dropdown-menu .disabled > a,
.t3-mainnav .dropdown-menu .disabled > a:hover {
  color: #999;
}
.t3-mainnav .dropdown-menu .disabled > a:hover {
  background-color: transparent;
}
.t3-mainnav .nav li.dropdown.open > .dropdown-toggle {
  background-color: transparent;
  color: #a8d04c;
  background: url(../../templates/t3_blank/images/nav-hover.png) no-repeat center bottom;
}
.t3-mainnav .nav li.dropdown.active > .dropdown-toggle,
.t3-mainnav .nav li.dropdown.open.active > .dropdown-toggle {
  background-color: transparent;
  color: #ab0569;
}
